@model List<NorthwindDAL.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Browse by Category:</h1>

@if (ViewContext.HttpContext.User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@for (int c = 0; c < Model.Count; )
{
    <div class="card-deck mb-3 text-center">
        @for (int i = 0; i < 3 && c < Model.Count; i++, c++)
        {
            <div class="card mb-4 box-shadow">
                <a asp-action="Details" asp-route-id="@Model[c].CategoryID">
                    <img class="card-img-top" src="~/images/category@(Model[c].CategoryID).jpeg" alt="Card image">
                </a>
                <div class="card-body">
                    <h4 class="card-title"> @Html.DisplayFor(modelItem => Model[c].CategoryName)</h4>
                    <p class="card-text">@Html.DisplayFor(item => Model[c].Description)</p>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                    {
                        <a class="btn btn-info" style="margin-top: auto;" asp-action="Details" asp-route-id="@Model[c].CategoryID">Details</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model[c].CategoryID">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model[c].CategoryID">Delete</a>
                    }
                    else
                    {
                        <a class="btn btn-lg btn-block btn-info" style="margin-top: auto;" asp-action="Details" asp-route-id="@Model[c].CategoryID">Details</a>
                    }
                </div>
            </div>
        }
    </div>
}