@model HomepageViewModel
@{
    ViewData["Title"] = "Northwind Home Page";
}

<div class="text-center">
    <h1>Welcome to Northwind Online Groceries</h1>
</div>

<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel(@Model.Categories, 1))
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Products</h2>
        <div style="column-count: 3;">
            <ul>
                @foreach (var item in @Model.Products)
                {
                    <li>
                        <a asp-controller="Home"
                           asp-action="ProductDetail"
                           asp-route-id="@item.Id">
                            @item.Title: @item.Text
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
