@model HomepageViewModel
@{
    ViewData["Title"] = "Northwind Home Page";
}

<div class="text-center">
    <h1>Welcome to Northwind Online Groceries</h1>
</div>

<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel("Categories", @Model.Categories, 1))
</div>

<h2>@Model.ShowcasedCategory Products:</h2>
<hr class="rounded">
<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel("ProductsByCategory", @Model.ProductsByCategory, 4))
</div>

<h2>Products from @Model.ShowcasedSupplier:</h2>
<hr class="rounded">
<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel("ProductsBySupplier", @Model.ProductsBySupplier, 4))
</div>

<h2>Last deals:</h2>
<hr class="rounded">
<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel("ProductsWithLittleLeft", @Model.ProductsWithLittleLeft, 4))
</div>

<h2>Products Under 10€:</h2>
<hr class="rounded">
<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel("ProductsLessThanPrice", @Model.ProductsLessThanPrice, 4))
</div>