@model NorthwindMVC.Website.Models.Base.ICanShowAsCard

<div class="card mb-2">
    <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-id="@Model.Id">
        <img class="card-img-top" src="~/images/@Model.Image" alt="Image of @Model.Title" />
    </a>
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <p class="card-text">@Model.Text</p>
    </div>
</div>

